<meta charset="UTF-8">
<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css"></script>
<script src="components/jquery/dist/jquery.min.js"></script>
<script>
 $(function() {
   var div = $('<div>');
   div.addClass('jumbotron');
   $('body').append(div);

   var h1 = $('<h1>');
   h1.append('Hello, world!');
   div.append(h1)
 });
</script>
